/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,ol,menu {
    list-style: none;

}

img {
    max-width: 300px;
    display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

section{
    padding: 50px;
}


/* palette colori */


:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}



/* layouts */



.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 15px;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-extra-small {
    max-width: 570px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}



/* utility classes */




.justify-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}


/* component classes */



.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

.button-blu{
    color: white;
    background-color: #0084FD;
    padding: 0 45px;
    margin-top: 30px ;
    margin-left: 20px;
}

.button-purple{
    background-color: #9792E4;
    color: #FFFFFF;
    padding: 5px 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.button-white{
    background-color: #FFFFFF;
    color: #9792E4;
    padding: 30px 100px;
    border-radius: 50px;
    margin: 20px;
}

/* header */

.page-header {
    background-color: var(--blue);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
    color: white;
}

/* SECTION-1 */

.img-phone{
    display: flex;
    align-items: end    ;
}

.card{
    height: 100%;
}

.container [class^='col']{
    padding: 0 12px;
}

.section-1 .col-8 .card{
    background-color: #B5DDFF;
    border-radius: 30px;
    display: flex;
}

.section-1 .col-4 .card{
    background-color: #B5DDFF;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card-text{
    padding: 20px
}

.section-1 p{
    line-height: 2;
    font-size: 15px;
}

.section-1 .row{
    row-gap: 24px;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.section-1 h3{
    color: #0084FD;
    font-size: 23px;
    padding: 20px 0;
}

.icon-blu{
    padding-top: 20px;
    color: #0084FD;
    font-size: 80px;
}

.fa-apple{
    color: white;
    font-size: 17px;
}

/* SECTION-2 */

.section-2{
    background-color: #9792E4;
}

.section-2 .col-6{
    padding: 20px;
}

.section-2 .col-6:first-child h3{
    color: #FFFFFF;
    font-size: 35px;
}

.white-card{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    margin-top: 300px   ;
}

.white-card h3{
    padding: 30px 0;
    font-size: 30px;
}

.white-card p{
    line-height: 1.5;
    font-size: 15px;
}

.section-2 .col-6:first-child p{
    font-size: 15px;
    color: white;
    line-height: 1.6;
    padding-top: 60px;
}

.fa-arrow-down{
    background-color: #9792E4;
    border-radius: 70%;
    padding: 20px;
    font-size: 15px;
    margin-top: 40px;
}

.section-2 .col-6:first-child img{
    padding: 100px 0;
}


/* SECTION-3 */

.section-3 .row{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.section-3 .card{
    background-color: #9792E4;
    border-radius: 50px;
    display: flex;
}

.img-circle{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 20px;
    object-fit: cover;
}

.testimonial-name{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.testimonial-story{
    color: white;
    
}

.card-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

.section-3 h3{
    color: #9792E4;
    font-size: 40px;
    padding: 20px 0;
}

/* SECTION-4 */


.section-4, .section-6{
    background-color: #9792E4;
}

.section-4 .row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    line-height: 1.7;
}

.section-4 .card{
    background-color: white;
    border-radius: 50px;
    padding: 20px;
}

.number-card{
    color: #9792E4;
    font-size: 90px;
    font-weight: 700;
}

.section-4 h2{
    color: #9792E4;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 20px;
}

/* SECTION-5 */

.section-5 .col-8 p{
    line-height: 2;
}

.section-5 h2{
    color: #9792E4;
    font-size: 80px;
    padding-bottom: 20px;
}

.section-5 .col-4 p{
    color: #9792E4;
    font-size: 30px;
    font-weight: 700;
}

.img-circle-big{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    padding: 20px;
    object-fit: cover;
}

/* SECTION-6 */

    .section-6{
        text-align: center;
    }

    .orange-text{
        font-size: 100px;
        font-weight: 700;
        color: #FDC15F;
        padding: 30px;
    }

    .section-6 h3{
        font-size: 40px;
        color: #FFFFFF;
    }

    .white-text{
        color: white;
    }


/* FOOTER */


footer{
    background-color: #333333;
    text-align: center;
}

footer .container-extra-small :first-child {
    color: #FFFFFF;
    padding: 50px;
}

footer .container-extra-small :last-child {
    color: white;
        
}



































/* RESPONSIV */
 
@media (max-width:780px){
    .navbar-list{
        display: none;
    }
    .col-8 .card{
        flex-wrap: wrap;
    }
    .section-2 .row{
        display: flex;
        flex-wrap: wrap;
    }
    .col-6{
        flex-basis: 100%;
    }
}

@media (max-width:480px){
    
    .row{
        flex-wrap: wrap;    
    }
    .container [class^='col']{
        flex-basis: 100%;
    }
}
